html
{
	margin-top: 10px;
	font-family: trebuchet, trebuchet ms, arial, sans-serif;
	background-color: #00F;
}

body
{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	background-color: #00F;
}

h1
{
	font-size: 15pt;
}

p
{
	font-size:11pt;
}

a:link
{
	text-decoration: none;
	color: #00F;
}

a:visited
{
	text-decoration: none;
	color: #F00;
}

a:hover
{
	text-decoration: underline;
	color: #F40;
}

a:active
{
	text-decoration: italic;
}

.content
{
	position: static;
	left: 5px;
	top: 10px;
	width: 815px;
	margin-left: 220px;
	margin-bottom: 20px;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 10px;
	padding-bottom: 20px;
	color: #FFF;
	background-color: #000;
	border-radius: 15px;
}

#side
{
	position: absolute;
	top: 20px;
	width: 200px;
	padding: 5px;
	background-color: #0F0;
	text-align: left;
	border-radius: 50px;
}
